

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top text-center py-3">
			<p class="text-muted mb-2" style="font-size: 18px;">
				Developed with ❤️ by
				<a href="https://www.linkedin.com/in/rohithkumar15/" target="_blank" style="font-size: 18px;">Rohithkumar</a>
			</p>
			<div class="mb-2">
				<span class="px-2" style="font-size: 18px;"><i class="fas fa-map-marker-alt"></i> kumarrohith66204@gmail.com</span>
				<span class="px-2" style="font-size: 18px;"><i class="fas fa-phone"></i> +91 8688016690</span>
				<span class="px-2" style="font-size: 18px;"><i class="fas fa-map-marker-alt"></i> Hyderabad,India</span>
			</div>
			<!-- <div class="text-muted">
				<i class="fab fa-lg fa-cc-visa px-2" style="font-size: 20px;"></i>
				<i class="fab fa-lg fa-cc-paypal px-2" style="font-size: 20px;"></i>
				<i class="fab fa-lg fa-cc-mastercard px-2" style="font-size: 20px;"></i>
			</div> -->
		</section>
	</div>
</footer>

<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

</body>
</html>
